<div class="header">
  <h1>To Do List</h1>
</div>

<div class="qoute">
  <p>"We are here to enhance our skills."</p>
</div>

<div class="ContainerBox">
  <div class="box">
    <b>Pending Task</b>
    <ul>
      <li *ngFor="let task of tasks; let i = index">
        <ng-container *ngIf="task.status === 'pending'">
          <span (click)="editTask(i)">
            {{ task.name }}
            <small *ngIf="task.date"> ({{ task.date }})</small>
          </span>
        </ng-container>
      </li>
    </ul>
  </div>

  <div class="box">
    <b>Complete Task</b>
    <ul>
      <li *ngFor="let task of tasks">
        <ng-container *ngIf="task.status === 'completed'">
          <span (click)="showTaskDetails(task)">
            {{ task.name }}
            <small *ngIf="task.date"> ({{ task.date }})</small>
          </span>
        </ng-container>
      </li>
    </ul>
  </div>

  <div class="box">
    <b>Active Task</b>
    <ul>
      <li *ngFor="let task of tasks; let i = index">
        <ng-container *ngIf="task.status === 'active'">
          <input type="checkbox" (change)="toggleTaskCompletion(i)">
          <span (click)="editTask(i)">
            {{ task.name }}
            <small *ngIf="task.date"> ({{ task.date }})</small>
          </span>
          <br>
          <small *ngIf="task.timerEnd">
             {{ getRemainingTime(task.timerEnd) }}
          </small>
        </ng-container>
      </li>
    </ul>
  </div>

  <div class="box">
    <b>Hold Task</b>
    <ul>
      <li *ngFor="let task of tasks; let i = index">
        <ng-container *ngIf="task.status === 'hold'">
          <input type="checkbox" (change)="toggleTaskCompletion(i)">
          {{ task.name }}
          <small *ngIf="task.date"> ({{ task.date }})</small>
        </ng-container>
      </li>
    </ul>
  </div>
</div>

<div class="taskBar">
  <div class="totalTask">
    {{ CompletedTask }} of {{ totalTask }} tasks completed
  </div>

  <div class="addTask">
    <button class="task" (click)="showPopPop = true">Add Task</button>
  </div>
</div>

<div class="poppop" *ngIf="showPopPop">
  <div class="popContent">
    <h3>{{ isEditing ? 'Edit Task' : 'Add New Task' }}</h3>

    <input type="text" [(ngModel)]="newTask" placeholder="Enter your task.">

    <select [(ngModel)]="selectedStatus">
      <option value="active">Active Task</option>
      <option value="hold">Hold Task</option>
      <option value="completed">Complete Task</option>
      <!-- <option value="pending">Pending Task</option> -->
    </select>

    <input type="date" [(ngModel)]="taskDate">

    <label>Set Task Deadline:</label>
    <input type="datetime-local" [(ngModel)]="deadline">

    <div class="action">
      <button (click)="isEditing ? updateTask() : addTask()">Submit</button>
      <button class="cancel" (click)="cancelTask()">Cancel</button>
    </div>
  </div>
</div>


<!-- gvhjcbsjhcbjc -->
 <!-- sjsbjsbjsbjs -->
